.titulo-app {
  text-align: center;
  color: #0d0d0d;
  font-size: 1.5em;
}

.productos {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 10px;
  width: 90%;
  left: 0;
  top: 0;
  background: #fff;
  color: #505050 !important;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 3em;
  margin: 0 5% 65px 5%;
}

.modal-card {
  text-decoration: none;
  color: #5b5b5b;
  border: solid 1px #c2c2c2;
  padding: 15px;
  margin: 0;
  display: flex;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 5px 5px #dfdfdf;
  transition: transform 0.3s ease;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.modal-card .price {
  font-size: 1.3em;
  font-weight: 500;
  color: #c10042;
}
.modal-card .h3 {
  font-size: 1.1rem;
  color: #032631;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.modal-card img {
  width: 100px;
  height: 100px;
}

.modal-card:hover {
  transform: translateY(-5px);
  text-decoration: none;
  color: #4B4B4B;
}

@media only screen and (max-width: 720px) {
  .productos {
    grid-template-columns: 100%;
  }
  .modal-card {
    height: auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .productos {
    grid-template-columns: 100%;
  }
  .modal-card {
    height: auto;
  }
}

/*# sourceMappingURL=tab3.page.css.map */
