<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-app">
      Tenis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tenis </ion-title>
    </ion-toolbar>
  </ion-header>

    <div class="productos">
        <a *ngFor="let item of data" class="modal-card" href="{{item.permalink}}" target="_blank">
            <span class="h3">{{ item.title }}</span>
            <img src="{{item.thumbnail}}" aria-hidden="true" alt="">
            <span class="price">Precio: ${{ item.price }}</span>
        </a>
    </div>
</ion-content>
